@font-face {
  font-family: 'montserrat';
  src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

:root{
  --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}
body{
  font-family: 'montserrat', sans-serif;
  margin: 0;
  background-color: var(--Very-Light-Grayish-Blue);
}

.wrapper{
  max-width: 1440px;
  outline: 1px solid;
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 50px 0;
  min-height: 100vh;
}
main > h1{
  margin-bottom: 40px;
  color: var(--Grayish-Blue);
}
main .toggle-container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  font-weight: 700;
  font-size: 15px;
  color: var(--Light-Grayish-Blue);
  margin-bottom: 65px;
}
main .toggle-container input{
  display: none;
  cursor: pointer;
}
main .toggle-container .toggle-btn{
  width: 56px;
  height: 32px;
  border-radius: 16px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  position: relative;
  cursor: pointer;
}
main .toggle-container .toggle-btn::after{
  content: "";
  position: absolute;
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 4px;
  right: 4px;
  transition: transform .25s ease;
}
main .toggle-container input.annually + .toggle-btn::after{
  transform: translateX(-24px);
}

main .pricing-cards{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
main .pricing-cards .card{
  text-align: center;  
  width: 350px;
  height: 450px;
  border-radius: 12px;
  background-color: #fff;
  padding: 16px 30px;
  box-sizing: border-box;
}
main .pricing-cards .card h2{
  font-size: 18px;
  margin-bottom: 18px;
}
main .pricing-cards .card .price{
  font-size: 4.5rem;
  font-weight: 700;
  margin-block: 0 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  letter-spacing: -2px;
}
main .pricing-cards .card .price::before{
  content: "$";
  font-size: 2.5rem;
}
main .pricing-cards .card .features{
  position: relative;
}
main .pricing-cards .card .features .feature{
  font-weight: 600;
  position: relative;
  padding-bottom: 18px;
}
main .pricing-cards .card .features::after{
  content: '';
  position: absolute;
  inset: auto 0 0 0;
  width: 100%;
  height: 1px;
  background-color: black;
}
main .pricing-cards .card .features .feature::before{
  content: '';
  position: absolute;
  inset: -16px 0 auto 0;
  width: 100%;
  height: 1px;
  background-color: black;
}
main .pricing-cards .card.professional{
  height: 500px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  padding-block: 42px;

}
main .pricing-cards .card.professional .features::after,
main .pricing-cards .card.professional .features .feature::before{
  background-color: #fff;
}

@media (max-width: 1080px) {
  main .pricing-cards{
    flex-direction: column;
    gap: 16px;
  } 
}